.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 210px;
  align-items: center;
  flex: 1;
  justify-content: center;
  align-self: center;
  justify-self: center;
}
